################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWP391_Gr3/appsettings.json
/.vs
/SWP391_Gr3/appsettings.json
/.vs/SWP391_Gr3/DesignTimeBuild/.dtbcache.v2
/SWP391_Gr3/obj/*
