@page
@model SWP391_Gr3.Pages.Theaters.CreateModel
@{
    ViewData["Title"] = "Tạo rạp mới";
}



<div class="form-container">
    <h2 style="color:whitesmoke">Tạo rạp mới</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="TheaterViewModel.Name" style="color:white">Tên rạp</label>
            <input asp-for="TheaterViewModel.Name" class="form-control" required />
            <span asp-validation-for="TheaterViewModel.Name" class="text-danger"></span>
        </div>
        <div class="form-group" >
            <label asp-for="TheaterViewModel.Location" style="color:white">Địa điểm</label>
            <input asp-for="TheaterViewModel.Location" class="form-control" required />
            <span asp-validation-for="TheaterViewModel.Location" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning mt-2">Tạo mới</button>
        <a asp-page="Index" class="btn btn-secondary mt-2">Quay lại</a>
    </form>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/create-styles.css" asp-append-version="true" />
}
