@page
@model SWP391_Gr3.Pages.Reviews.CreateModel
@{
    ViewData["Title"] = "Create Movie Review";
}

<h1>Create Movie Review</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MovieReview.Title" class="control-label"></label>
                <input asp-for="MovieReview.Title" class="form-control" />
                <span asp-validation-for="MovieReview.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MovieReview.Summary" class="control-label"></label>
                <textarea asp-for="MovieReview.Summary" class="form-control"></textarea>
                <span asp-validation-for="MovieReview.Summary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MovieReview.Content" class="control-label"></label>
                <textarea asp-for="MovieReview.Content" class="form-control"></textarea>
                <span asp-validation-for="MovieReview.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MovieReview.ImageUrl" class="control-label"></label>
                <input asp-for="MovieReview.ImageUrl" class="form-control" />
                <span asp-validation-for="MovieReview.ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MovieReview.MovieId" class="control-label"></label>
                <select asp-for="MovieReview.MovieId" class="form-control" asp-items="Model.MovieSelectList">
                    <option value="">Select a Movie</option>
                </select>
                <span asp-validation-for="MovieReview.MovieId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
