@page
@model SWP391_Gr3.Pages.Users.ProfileModel

@{
    ViewData["Title"] = "Thông tin cá nhân";
}
<h2>Cập nhật hồ sơ</h2>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form method="post">
    <input asp-for="currentUser.Id" class="form-control" value="@Model.currentUser.Id" hidden />
    <div class="form-group">
        <label>Họ và tên</label>
        <input asp-for="currentUser.FullName" class="form-control" />
        <span asp-validation-for="currentUser.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="currentUser.Email" class="form-control" readonly />
        <span asp-validation-for="currentUser.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Số điện thoại</label>
        <input asp-for="currentUser.PhoneNumber" class="form-control" />
        <span asp-validation-for="currentUser.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Địa chỉ</label>
        <input asp-for="currentUser.Address" class="form-control" />
        <span asp-validation-for="currentUser.Address" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Lưu thay đổi</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}